<h1>Stole another bike? Add it to the list!</h1>

<%= form_for @bike do |f| %>
	<%= f.label :name %> <%= f.text_field :name %>
	<%= f.label :type %> <%= f.text_field :type %>
	<%= f.label :speed %> <%= f.number_field :speed %>

	<%= f.submit "Add this bike!!" %>

<% end %>
<br />
<%= link_to "Back to the list!", bikes_path %>