<h1>Listing motorcycles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Speed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @motorcycles.each do |motorcycle| %>
      <tr>
        <td><%= motorcycle.name %></td>
        <td><%= motorcycle.type %></td>
        <td><%= motorcycle.speed %></td>
        <td><%= link_to 'Show', motorcycle %></td>
        <td><%= link_to 'Edit', edit_motorcycle_path(motorcycle) %></td>
        <td><%= link_to 'Destroy', motorcycle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Motorcycle', new_motorcycle_path %>
